
@font-face {
    font-family: 'Bungee'; 
    src: url('fonts/Bungee-Regular.ttf') format('truetype');
   
}
@font-face {
    font-family: 'luckiestGuy'; 
    src: url('fonts/LuckiestGuy-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(182, 101, 101);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
body {
    background-color: rgb(251, 133, 117);
    text-align: center;
    font-family: luckiestGuy, cursive;
    font-size: 40px;
    text-shadow: 4px 4px 4px rgba(3, 3, 3, 0.3);
}
a {
    text-decoration: none;  
    color: rgb(219, 217, 217);  
}
ul {
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    padding: 0; 
    font-family: luckiestGuy, cursive;
    font-size: 40px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
h2  {
   text-shadow: 4px 4px 4px rgba(3, 3, 3, 0.3);
    color: rgb(219, 217, 217);  
    font-family: luckiestGuy, cursive;
    
}
h3 {
    color: rgb(219, 217, 217);  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
    color: rgb(219, 217, 217);  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 19px;
    font-family: frijole, cursive;
    margin-left: 222px;
    margin-right: 222px;
    margin-top: 12px;
    margin-bottom: 12px;
}
h5 {
    color: rgb(219, 217, 217);  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}